* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #dbf1ef; /*very light teal*/
}

#octocat {
  display: block;
  width: 384px;
  margin: 50px auto;
}

#margery {
    display: block;
    width: 170px;
    margin: 50px auto;
}

h1 {
    display: block;
    width: 400px;
    margin: 50px auto;
    font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    font-weight: bolder;
}

h2 { /* previously p */
  display: block;
  width: 400px;
  margin: 30px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

p2 { /* previously p2 */
  display: block;
  width: 400px;
  margin: 30px auto;
  font: 20px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

h3 {  /* previously p3 */
    display: block;
    width: 400px;
    margin: 30px auto;
    font: 25px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    font-style: italic;
}

.single-indent {
    text-indent: 90px
}
.double-indent {
    text-indent: 180px;
}

/* Nav Bar: */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #165a51; /*darkish teal*/
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
  font-family: Courier New, Courier, monospace;
}

li a:hover {
  background-color: #1e8d83; /*teal*/
}

/* 3 Column Structure: */

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 1200px) {
    .column {
        width: 100%;
    }